<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522025489020-c0ce7av5q1c4dfjfq7s79n866p54o81c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522025489020-c0ce7av5q1c4dfjfq7s79n866p54o81c</string>
	<key>API_KEY</key>
	<string>AIzaSyCX-r5BqJ_goXvLrRpDfGsNGybrKmGWYxs</string>
	<key>GCM_SENDER_ID</key>
	<string>522025489020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doriansarina.mpl-app</string>
	<key>PROJECT_ID</key>
	<string>mplapp-21b2c</string>
	<key>STORAGE_BUCKET</key>
	<string>mplapp-21b2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522025489020:ios:4ee3741da1930253646ff9</string>
</dict>
</plist>